@import 'variables';
@import 'mixins';

.importtasks__container{
    margin: $spacing 0;

    .importtasks__title{
        @include formTitle
    }

    .importtasks__btn-container{
        margin-top: 20px;

        button{
            border: none;
            background-color: transparent;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.3rem;

            &.darkmode{
                color: white;
            }
        }

        label{
            font-weight: bold;
            cursor: pointer;
            font-size: 1.3rem;
        }

        .importtasks__icon{
            font-size: 2rem;
        }
    }
}