@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

$bgc-color: linear-gradient(85deg, rgba(81,42,181,1) 0%, rgba(180,64,208,1) 100%);
$app-container: rgba(white, 0.8);
$btn-color: #DAFFFB;

$fontfamily: 'Roboto', sans-serif;
$special-fontfamily: 'Oswald', sans-serif;

$spacing: 25px;

